<div class="container mt-5">
    <h2 class="mb-4">Create a Blog Post</h2>
    <form class="new-blog-post-form">
        <div class="mb-3">
            <label for="title-new-blog-post" class="form-label">Title</label>
            <input type="text" class="form-control" id="title-new-blog-post" placeholder="Enter the title for you Blog"/>
        </div>
        <!--New post section-->
        <div class="mb-3">
            <label for="content-new-blog-post" class="form-label">Content</label>
            <textarea class="form-control" id="content-new-blog-post" rows="5" placeholder="Enter the content for your Blog"></textarea>
        </div>
        <!-- Button to create post-->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
    </form>
</div>