.post-container {
    transition: background-color 0.3s;
}
  
.post-container:hover {
    border-right: 1em solid #656565;
    background-color: rgba(126, 126, 126, 0.2);
    border-radius: 0.5em;
}
  
body {
    background-image: url('./../images/img_1.jpg');
    background-position: center;
    background-repeat:inherit;
    background-size:cover;
    
}

.card {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 25px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    color: white;
    font-weight: bold;
}

#username_blog_login {
    width: 350px;
    height: 45px;
}

#password_blog_login {
    width: 350px;
    height: 45px;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#username {
    width: 350px;
    height: 45px;
}

#email {
    width: 350px;
    height: 45px;
}

#password {
    width: 350px;
    height: 45px;
}

/* Media Queries */
  
@media screen and (min-width: 768px) {
}
  
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
  
@media screen and (max-width: 767px) and (orientation: portrait) {
}
  
@media screen and (max-width: 767px) {
}
  
@media screen and (min-width: 1200px) {
}
  
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
}
  
/* @media (color-gamut: srgb) {
} */